section > * { margin-left: 0 }

.container-flexbox{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-wrap: wrap;
    column-gap: 42px;
}

button{
    background-color: blue;
    color: white;
    margin-top: 32px;
    padding: 8px 16px;
    border-radius: 4px;
}

.bono, .adam, .larry, .edge {
    padding: 20px;
	margin-bottom: 42px;
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Headings */
.bono h3, .edge h3, .adam h3, .larry h3 {
    font-size: var(--font-size-md);
	line-height: 1.2;
    margin-bottom: 2px;
}

/* Paragraphs of text */
.bono p, .edge p, .adam p, .larry p {
    flex-grow: 1;
}

.bono img, .edge img,.adam img, .larry img {
    margin-bottom: 16px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    width: calc(100% + 40px);
}

.bono { background-color: #4081ec }
.edge { background-color: #ffbb33 }
.adam { background-color: #f73345 }
.larry { background-color: #e0e0e0 }

.bono h3, .bono p,
.adam h3, .adam p { color: #fff }

.edge h3, .edge p { color: #000 }
.larry h3, .larry p { color: #000 }